.showContent {
  visibility: visible;
}

.hideContent {
  visibility: hidden;
}

.content-wrapper {
  background-color: rgb(194, 194, 194);
  padding:42px;
  margin-top: -23px;
  border-radius: 10px;
}