.showContent {
  visibility: visible;
}

.hideContent {
  visibility: hidden;
}

.content-wrapper {
  background-color: rgb(194, 194, 194);
  padding:42px;
  margin-top: -23px;
  border-radius: 10px;
}

.black-label {
  background-color: black;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 12px;
  text-align: center;
  color: white;
  margin: 5px;
}

.bold-text {
  color: $clearBlue;
  
}